<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/param/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex">
            <div class="col-3">
                <button type="button" class="btn btn-outline-light" id="goToMain">Retour</button>
            </div>
            <div class="col-9">
                <h1>Paramètres</h1>
            </div>
        </div>
        <div class="col-12 border-top border-3 pt-2 d-flex flex-column">
            <label for="customRange3" class="form-label"><h5>Ram</h5></label>
            <label id="ramSelect"></label>
            <input type="range" class="form-range" min="8" max="12" step="1" id="customRange3">
            <button type="button" class="btn btn-success" id="saveRam">Sauvegarder</button>
        </div>
        <div class="col-12 border-top border-3 pt-2">
            <h5>Dossier du jeu</h5>
            <button type="button" class="btn btn-info">Voir le dossier</button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="../assets/param/js/renderer.js"></script>
</html>