html, body, .container-fluid, .row{
    height: 100%;
}

.container-fluid{
    background: url(../images/novaskin-wallpaper-onaboat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
    backdrop-filter: blur(2px);
}

#ramSelect, #customRange3{
    margin-bottom: 10px;
}
#saveRam{
    width: 15%;
}