.h-100vh {
    height: 50vh;
  }

  /* Ajouter une bordure en haut de la deuxième partie */
  .border-top-5 {
    border-top: 5px solid #ccc;
  }

  /* Ajuster la largeur du bouton "Accueil" */
  .custom-btn-width {
    width: 80px;
  }
  .btn-group>.btn {
    flex: 0;
  }


body{
    background-image: url('../images/novaskin-wallpaper-onaboat.jpg');
}
