html, body, .container-fluid, .row{
    height: 100%;
}

body{
    background: url(../images/novaskin-wallpaper-onaboat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);


}
body::-webkit-scrollbar{
    display: none;
  }
.text-muted {
    color: #8492a6 !important;
}
#closeApp{
    position: absolute;
    right: 0;
    width: 40px;

    border-radius: 20px;
}

#reduceApp{
    position: absolute;
    right: 45px;
    border-radius: 20px;
    width: 40px;
}

h3, p{
    color: #0d6efd;
}

h1{
    color: white;
}
.nav{
    filter: grayscale(60%);
    height: 100%;
    background-color: black;
    opacity: .7;
    align-items: center;
    width: 20%;
}

#changelogs{
    background-color: #c5c5c5;;
    opacity: .9;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px;
    max-height: 80%;
    overflow: scroll;
}

#changelogs::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#changelogs::-webkit-scrollbar {
    display: none;
}

.loginMS{
    width: 50%;
    margin-top: 10px;
    /* background: #0d6efd!important */
}
.topnav, .utilities{
    height: 20%;
}
.dropdown{
    margin-top: 10px;
}
.btnProfile{
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative;
}
.btn-secondary:focus {
    border: 0;
    box-shadow: none;
}

#profilePicture{
    width: 100%;
}

.log{
    height: 40%;
}

#playBtn{
    width: 100%;
    height: 40%;
    border-radius: 20px;
}
.progress{
    width: 0%;
    height: 2rem;
    border-radius: 15px;
}
.progress-bar{
    width: 0%;
    border-radius: 15px;
}

#containerParam{
    color: white;
}
#ramSelect, #customRange3{
    margin-bottom: 10px;
}
#saveRam{
    width: 20%;
}